nav {
  background-color: aquamarine;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline;
  padding: 10px;
}
nav li a {
  color: azure;
  text-decoration: none;
}
nav li a:hover {
  color: red;
}
